.hero {
  overflow: hidden;
  &__wrapper {
    background-color: #ffffff;
    padding: 45px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
  }
  &__btn {
    position: relative;
    font-size: 0;
    width: 40px;
    height: 40px;
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      right: -50px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: bottom left;
      background-image: url("../../../assets/img/search.svg");
    }
  }
  &__input {
    border: 1px solid #f3f3f3;
    padding: 15px 15px 15px 45px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;

    &::placeholder {
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
    }
  }
  &__inner {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px 45px 45px;
  }
}

.cart {
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &__wrapper {
    opacity: 1;
    padding: 30px;
    background-color: #ffffff;
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__btn{
    font-size: 24px;
    cursor: pointer;

  }

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  &__items{
    max-height: 80vh;
    overflow-y: auto;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 25px 20px;
    margin-bottom: 20px;
  }
  &__img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 20px;
  }
  &__descr {
    margin-right: 15px;
  }
  &__name {
    font-size: 14px;
    line-height: 17px;
  }
  &__prise {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  &__close {
    cursor: pointer;
  }
  &__bottom {
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__all-name {
    font-weight: 400;
  }
  &__all-price{
    font-weight: 600;
  }
  
  &__all-btn {
    padding: 18px;
    display: block;
    width: 100%;
    background-color: #9dd558;
    border-radius: 18px;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
}
